
</div>
<div class="footer-padding"></div>
  <div class="footer">
    <h4>Made with ❤️ by Developer Ayantik Copyright (c) 2022 </h4>
    <h4>Its <%= new Date() %>  </h4>
          
  </div>
</div>
</body>
</html>
