<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Personal Dairy</title>
  <link rel="icon" href="/favicon.ico?v=2">
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/styles.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  
  <nav class="navbar navbar-default">
    <div class="container">
      
      <div class="navbar-header">
        <p class="navbar-brand">THE WHOLEDAY BOOK 📒</p>
      </div>
        <ul class="nav navbar-nav navbar-right">
          <!-- 6 -->
          <li id="home"><a href="/home">HOME</a></li>
          <li id="about"><a href="/about">ABOUT </a></li>
          <li id="contact"><a href="/contact">CONTACT</a></li>
          <li id="compose"><a href="/compose">COMPOSE NEW</a></li>
          <li id="profile"><a href="/exit">EXIT</a></li>
        </ul>
    </div>
  </nav>

  <body>
    <div class="container">
    

