
<%- include("partials/header") -%>
<h1 class="a">Contact:</h1>
<br>
<h3> <%= contactContent %> </h3>
<p>You can share your feedbacks about Your 'WHOLEDAY BOOK'and contact Me below:</p>

<br>
<br>

<a href="mailto:ayantik789@gmail.com"><img class="con"src="images\gmail.png"></a>
<a href="https://github.com/xyzhsk"><img  class="con" src="images\github.png"></a>
<a href="https://www.linkedin.com/in/ayantik-das-b52b97220/"><img class="con" src="images\linkedin.png"></a>
<a href="https://www.facebook.com/ayantik.das.16"><img class="con"src="images\facebook.png"></a>
<a href="https://www.instagram.com/ayantik789/"><img class="con"src="images\instagram.png"></a>

<%- include("partials/footer") -%>