<%- include("partials/header1"); -%>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <link rel="stylesheet" href="css/bootstrap-social.css">
  <link rel="stylesheet" href="css/styles.css">
  
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<div class="jumbotron centered">
    <div class="container">
      <img class="cover" src="./images/dairy.png">
      <h2 class="display-3">Welcome to your Personal Diary❤</h2>
      <br>
      <h4>Enter Your name to Open: </h4>
      <form action="/" method="post">
       
            <label>Name:</label>

             <input type="text" name="userTitle" size="50">
     
              
        <button class="btn btn-primary" type="submit" name="button">GO</button>
    </form>
        
      <br>
      <h4><b>OR</b> Click Open if previously done....</h4>
      <a class="btn btn-success" href="/home" role="button">OPEN</a>
  
    </div>
  </div>
  
<%- include("partials/footer"); -%>